<!--
 * @Author: atdow
 * @Date: 2022-05-04 21:53:29
 * @LastEditors: null
 * @LastEditTime: 2022-05-08 17:35:56
 * @Description: file description
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./base.css">
    <link rel="stylesheet" href="./panel.css">
</head>

<body>
    <div id="app" class="container-fluid">
        <div class="container">
            <div class="header">
                <div class="header-left">
                    <div class="dropdown" style="width:50%">
                        <div class="dropdown-btn" @click="changeShowSourceMenu">
                            <span class="not-select">{{isChina?source.labelChinese:source.label}}</span>
                            <div :class="['triangle', {'triangle__rotate': showSourceMenu}]"></div>
                        </div>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" v-if="showSourceMenu">
                            <li class="dropdown-menu-item not-select" v-for="(item, index) in option" :key="index"
                                @click="changeSource(item)">{{isChina?item.labelChinese:item.label}}</li>
                        </ul>
                    </div>
                </div>
                <div class="header-right" style="margin-left:20px;width:50%">
                    <div class="dropdown">
                        <div class="dropdown-btn" @click="changeShowTargetMenu">
                            <span class="not-select">{{isChina?target.labelChinese:target.label}}</span>
                            <div :class="['triangle', {'triangle__rotate': showTargetMenu}]"></div>
                        </div>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" v-if="showTargetMenu">
                            <li class="dropdown-menu-item not-select" v-for="(item, index) in option" :key="index"
                                @click="changeTarget(item)">{{isChina?item.labelChinese:item.label}}</li>
                        </ul>
                    </div>
                    <div class="translation-btn not-select" @click="translation">
                        {{isChina?translateBtnText.chinese:translateBtnText.english}}</div>
                </div>
            </div>
            <div class="content">
                <div class="inputContainer">
                    <textarea rows="10" class="input" v-model="inputText" @keydown="inputKeyDown"
                        :placeholder="isChina?placeholder.chinese:placeholder.english"></textarea>
                </div>
                <div class="result">
                    <p v-if="loading===false">{{result}}</p>
                    <div v-else class="sk-circle">
                        <div class="sk-circle1 sk-child"></div>
                        <div class="sk-circle2 sk-child"></div>
                        <div class="sk-circle3 sk-child"></div>
                        <div class="sk-circle4 sk-child"></div>
                        <div class="sk-circle5 sk-child"></div>
                        <div class="sk-circle6 sk-child"></div>
                        <div class="sk-circle7 sk-child"></div>
                        <div class="sk-circle8 sk-child"></div>
                        <div class="sk-circle9 sk-child"></div>
                        <div class="sk-circle10 sk-child"></div>
                        <div class="sk-circle11 sk-child"></div>
                        <div class="sk-circle12 sk-child"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../lib/vue-2.5.17/vue.js"></script>
    <script src="../../src/view/panel.js"></script>
</body>

</html>